/*---------------------------------

Universal Styling

----------------------------------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'altone';
    src: url('../fonts/altone.ttf') format('truetype');
}

h1, 
nav {
    display: inline-block;
}

body {
    background-image: url(../images/skyline.png), linear-gradient(0deg, hotpink, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    background-size: 100%;
    margin-top: 120px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    background: black;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

header nav {
    float: right;
    margin-right: 20px;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: pink;
}

header li {
    display: inline-block;
    padding: 12px 20px;
    font-family: 'altone', sans-serif;
    font-size: 18px;
    color: white;
}

section {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

section.box {
    background: #ffffffdb;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 50px;
    border-style: solid;
    border-color: pink;
    border-width: 5px;
    max-width: 390px;
    text-align: center;
    border-radius: 20px;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 35px;
    color: pink;
}

h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    background-color: pink;
    line-height: 150%;
    letter-spacing: 1px;
}

p {
    font-family: 'altone', sans-serif;
    font-size: 20px;
    margin: 20px 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.slogan {
    text-align: center;
}